apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: agent-deployment-role-{{ .Values.agentKey }}
  namespace: {{ .Release.Namespace }}
rules:
  - apiGroups: [""]
    resources: ["pods"]
    verbs: ["patch", "update"]
  - apiGroups: ["batch"]
    resources: ["jobs"]
    verbs: ["patch", "update"]
